@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
/* css for webpage */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  margin: 0%;
  padding: 0%;
  background-color: aquamarine;
  background-image: url('./assets/IMG_6201.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:black;


}

/* styling outer container */
.container {
  width: 100%;
  height: 100%;
 
  color: aliceblue;
  /* position: relative; */
  /* border: 3px solid red; */

}

/* search box */
.container .search {
  text-align: center;
  padding: 1rem;
  /* to remove */

}
.container input {
  padding: 0.7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}
/* container  */
::placeholder {
  color: whitesmoke;
}

.container-sub {
  /* background-color: red; */
  max-width: 700px;
  height: auto;
  margin: auto;
  margin-top: 1.5rem;
  padding: 0 1.2rem;
  top: 10%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;

}
/* font-size: 2em; Default size */

/* MEDIA QUERIES  */

/* MOBILE DEVICES */
@media (max-width: 480px) {
  .container {
    font-size: 0.5em;
  }
  .container input
  {
    font-size: 0.6em;
    padding: 1em 1em;
  }
  .container .search{
    padding: .5em;
  }
}

/* LOW RES TABLET  DEVICES */
@media (min-width: 481px) and (max-width: 770px) {
  .container {
    font-size: 1.2em;
  } /* Adjust for even smaller screens */
}

/* TABLET */
@media (min-width: 770px) and (max-width: 1024px) {
  .container {
    font-size: 1.5em;
  }
}

/* LARGE DEVICES */
@media (min-width: 1025px) and (max-width: 1500px) {
    .container{
      font-size: 1.8em;
    }
  }


  
.container .top {
  width: 100%;
  margin: 1rem auto;
}

.container .description {
  position: relative;
  /* right: -90%;
  transform-origin: 0 0;
  transform: rotate(270deg); */
}

/* bottom part */
.container .bottom {
  /* border-style: dashed;
  border-color: red; */
  display: flex;
  justify-content: space-evenly;
  /* align-items:center; */
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 13px;

  background-color: rgba(255, 255, 255, 0.3);
}

.bold {
  font-weight: 700;
}


/*  CSS FOR SKELETON  */

.skeleton
{
  opacity: 0.5;
  animation: skeleton-loading 1.3s linear infinite alternate ;

}

.skeleton-text
{
  width: 100%;
  height: 0.5em;
  margin-bottom: .25em;
  border-radius: 0.125em;
}

@keyframes skeleton-loading 
{
  0%
  {
    background-color: hsl(200, 20%, 70%);
  }
  100%
  {
    background-color: hsl(200, 20%, 95%);
  }
}

.t1
{
  width: 15%;
  height: .75em;
}
.t2
{
  width: 30%;
  height: 1.25em ;

}

.t3
{
  margin-top: .8em;
  padding: 1.5em;

}